*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif !important;
    margin: 0;
    padding: 0;
}

:root{
    --clr-accent: #fd74d9;
}


/* Navigation Bar */

.navbar-light .navbar-nav .nav-link {
    color: #333333 !important;
    font-weight: bold;
    font-size: 0.6rem;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    border-bottom: 1px solid red;
    padding-bottom: 3px;
    font-size: 0.6rem;
    padding-left: 0;
    padding-right: 0;
    color: #333333 !important;
    font-weight: bold;
}

nav img{
    height:27px;
}

.dropdown-menu {
    background: none !important;
    padding: 0 !important;
    left: 70px !important; 
    min-width: 5.5rem !important;
}

.dropdown-item {
    padding: 5px !important;
    color: #333333;
    font-size: 0.6rem !important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    border-bottom: 1px solid red;
    width: fit-content !important;
}

/*Responsive*/
@media screen and (min-width: 1024px) {
    .navbar{
	    padding: 1rem 5rem !important;
    }
}

@media all and (min-width: 1200px){
    .navbar{
        padding: 1rem 5rem !important;
    }
    .navbar-light .navbar-nav .nav-link,
    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link,
    .dropdown-item {
        font-size: .7rem;
    }     
}
@media all and (min-width: 1800px){
    .navbar-light .navbar-nav .nav-link,
    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link,
    .dropdown-item {
        font-size: 1.2rem;
    }     
}
.section-login{
    background: linear-gradient(179.37deg, #FD749B -13.56%, #281AC8 158.3%);
    border-radius: 5rem;
    padding: .5rem 2rem;
    border: none;
    color: #ffffff;
    font-size: .5rem;
}


/* The Header */

.intro{
    background-image: url("img/Group\ 382.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    min-height: 650px;
    padding: 1rem;
    color: #ffffff;
    line-height: 1.2;
}

.main{
    height: 15rem;
    width: 15rem;
}

.section-intro{
    padding: 0;
    width: 100%;
}

.section-intro-paragraph{
    font-size: .4rem;
}

.section-intro-title{
    font-size: 1rem;
    line-height: 1.6;
    font-weight: bold;
    margin: 1rem 0;
}

.section-intro-subtitle{
    font-size: .6rem;
    line-height: 1.2;
    max-width: 15rem;
}


/* The Form */

.form{
    top: -5rem;
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
}

.section-form-paragraph{
    position: relative;
    text-align: center;
    font-size: .7rem;
}

form{
    display: inline-block;
    margin: auto;
    text-align: center;
    padding: 1rem;
}

.section-name-email{
    margin: 3rem auto 1.5rem;
}

.section-input-1{
    margin-bottom: 2rem;
    padding: 1em 1em;
    border-radius: .25rem;
    font-size: .5rem;
    min-width: 14rem;
    border: 1px solid #D1D1D1;
}
.section-input-2{
    min-width: 14rem;
    padding: 1em 1em;
    border-radius: .25rem;
    font-size: .5rem;
    border: 1px solid #D1D1D1;
}

textarea{
    border: 1px solid #D1D1D1;
    border-radius: .3rem;
    padding: 1em;
    min-width: 14rem;
    min-height: 8rem;
    font-size: .5rem;
}

input::placeholder,
textarea::placeholder{
    font-size: .5rem;
}

.section-publish{
    background: linear-gradient(179.37deg, #FD749B -13.56%, #281AC8 158.3%);
    border-radius: 5rem;
    padding: 1rem 3rem;
    border: none;
    color: #ffffff;
    font-size: .5rem;
    align-items: left;
    text-align: left;
    margin: 2rem 0 4rem;
}


/* The Map */

.map{
    background-color: var(--clr-accent);
    background-image: url(img/Lagos\ Map.png);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 38.3rem;
    min-height: 20rem;
    margin: 0 auto;
    text-align: left;
}

.section-info{
    background-color: #ffffff;
    max-width: 15rem;
    margin: 0 auto;
    padding: 2rem;
    border-radius: .5rem;
    font-size: .7rem;
    position: relative;
    top: 4rem;
    left: auto;
    right: auto;
    bottom: auto;
}

.section-info div{
    margin-bottom: 1rem;
}

.section-info div img{
    margin-right: .5rem;
}


/* Footer */

footer {
    width: 100%;
    background-color: black;
    z-index: 0 !important;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 4% 3%;
}

.footer-logo {
    display: block;
}

.footer-logo div {
    color: white;
}

.bfooter {
    position: relative;
    left: 0.7rem;
    bottom: 1.2rem;
}

.footerlgtxt {
    position: relative;
    left: 1rem;
    bottom: 1rem;
}

.coinbaselinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.coinbaselinks div {
    padding: 0 0 0 6%;
}

.coinbaselinks div ul li,
a {
    list-style: none;
    color: white;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.coinbaselinks a {
    text-decoration: none;
    color: #A2A2A2;
    font-size: 18px;
    line-height: 30px;
}

.boxes {
    display: flex;
    flex-direction: column;
}

.boxes .block1,
.block2 {
    display: flex;
    flex-direction: row;
}

.boxes .block1 div,
.block2 div {
    padding: 1%;
}


/* Media Queries */

@media all and (min-width: 680px){
    .intro{
        padding: 2rem;
    }
    
    .main{
        float: right;
        height: 15rem;
        width: 15rem;
    }
    
    .section-intro{
        padding-top: 3rem;
        float: left;
        max-width: 15rem;
    }
}

@media all and (min-width: 970px){
    
    /* The Header */

    .intro{
        padding: 4rem;
        min-height: 40rem;
    }

    .main{
        float: right;
        height: 20rem;
        width: 20rem;
    }
    
    .section-intro{
        padding-top: 4rem;
        float: left;
        max-width: 20rem;
    }

    .section-intro-paragraph{
        font-size: .5rem;
    }
    
    .section-intro-title{
        font-size: 1.5rem;
        line-height: 1.6;
        font-weight: bold;
        margin: 1rem 0;
    }
    
    .section-intro-subtitle{
        font-size: .7rem;
        line-height: 1.2;
        max-width: 15rem;
    }


    /* The Form */

    .form{
        top: -5rem;
        position: relative;
        display: block;
        text-align: center;
        width: 100%;
    }
    
    .section-form-paragraph{
        position: relative;
        text-align: center;
        font-size: 1rem;
    }
    
    form{
        display: inline-block;
        margin: auto;
        text-align: left;
    }
    
    .section-name-email{
        margin: 3rem auto 1.5rem;
    }
    
    .section-input-1{
        margin-right: 2rem;
        padding: 1em 1em;
        border-radius: .25rem;
        font-size: .8rem;
        min-width: 18rem;
        border: 1px solid #D1D1D1;
    }

    .section-input-2{
        min-width: 18rem;
        padding: 1em 1em;
        border-radius: .25rem;
        font-size: .8rem;
        border: 1px solid #D1D1D1;
    }
    
    textarea{
        border: 1px solid #D1D1D1;
        border-radius: .3rem;
        padding: 1em;
        min-width: 38.3rem;
        min-height: 8rem;
        font-size: .8rem;
    }
    
    .section-publish{
        background: linear-gradient(179.37deg, #FD749B -13.56%, #281AC8 158.3%);
        border-radius: 5rem;
        padding: 1rem 3rem;
        border: none;
        color: #ffffff;
        font-size: .8rem;
        align-items: left;
        text-align: left;
        margin: 2rem 0 4rem;
    }
}

@media all and (min-width: 1300px){

    /* The Header */

    .intro{
        padding: 7rem;
        min-height: 50rem
    }
    .main{
        float: right;
        height: 25rem;
        width: 25rem;
    }
    
    .section-intro{
        padding-top: 4rem;
        float: left;
        max-width: 25rem;
    }

    .section-intro-paragraph{
        font-size: .7rem;
    }
    
    .section-intro-title{
        font-size: 2rem;
        line-height: 1.6;
        font-weight: bold;
        margin: 1rem 0;
    }
    
    .section-intro-subtitle{
        font-size: 1rem;
        line-height: 1.2;
        max-width: 20rem;
    }

    /* The Form */

    .form{
        top: -5rem;
        position: relative;
        display: block;
        text-align: center;
        width: 100%;
    }
    
    .section-form-paragraph{
        position: relative;
        text-align: center;
        font-size: 1rem;
    }
    
    form{
        display: inline-block;
        margin: auto;
        text-align: left;
    }
    
    .section-name-email{
        margin: 3rem auto 1.5rem;
    }
    
    .section-input-1{
        margin-right: 2rem;
        padding: 1em 1em;
        border-radius: .25rem;
        font-size: .8rem;
        min-width: 18rem;
        border: 1px solid #D1D1D1;
    }
    .section-input-2{
        min-width: 18rem;
        padding: 1em 1em;
        border-radius: .25rem;
        font-size: .8rem;
        border: 1px solid #D1D1D1;
    }
    
    textarea{
        border: 1px solid #D1D1D1;
        border-radius: .3rem;
        padding: 1em;
        min-width: 38.3rem;
        min-height: 8rem;
        font-size: .8rem;
    }
    
    .section-publish{
        background: linear-gradient(179.37deg, #FD749B -13.56%, #281AC8 158.3%);
        border-radius: 5rem;
        padding: 1rem 3rem;
        border: none;
        color: #ffffff;
        font-size: .8rem;
        align-items: left;
        text-align: left;
        margin: 2rem 0 4rem;
    }
}

@media all and (min-width: 1800px){

    /* The Header */

    .intro{
        padding: 9rem;
        min-height: 80rem
    }
    .main{
        float: right;
        height: 45rem;
        width: 45rem;
    }
    
    .section-intro{
        padding-top: 4rem;
        float: left;
        max-width: 50%;
    }
    .section-intro-paragraph{
        font-size: 1rem;
    }
    
    .section-intro-title{
        font-size: 3rem;
        line-height: 1.6;
        font-weight: bold;
        margin: 3rem 0;
    }
    
    .section-intro-subtitle{
        font-size: 1.7rem;
        line-height: 1.2;
        max-width: 30rem;
    }

    /* The Form */

    .section-form-paragraph{
        font-size: 2rem;
    }

    input::placeholder,
    textarea::placeholder{
        font-size: 1.5rem;
    }

    .footer{
        font-size: 1.5rem;
    }
}

/* Media Queries */


/* Footer*/

@media screen and (max-width: 768px) {
    .footer {
        align-items: center;
        width: 100%;
    }
    .footer-logo{
        margin-top: 2rem;
    }
    .bfooter {
        position: relative;
        left: 0.5rem;
        bottom: 1.5rem;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2%;
    }
    .footer-container div {
        margin: 1%;
    }
    .coinbaselinks {
        display: flex;
        flex-direction: column;
    }
    .block1 div img,
    .block2 div img{
        width: 3rem;
    }
}